body {
        background-image: url("Chimp.jpg");
      }
p {
        font-family: Arial;
        background-color: wheat;
        text-align: center;
}
.video {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
        padding-top: 15px;
}
.title {
        font-family: 'Stylish', sans-serif;
        text-align: center;
        background-color: lightgreen;
        color: yellow;
        font-size: 50px;
        padding-top: 7px;
        position: 0;
}
.heading {
        font-family: 'Stylish', sans-serif;
        text-align: center;
        color: yellow;
        font-size: 30px;
        padding-bottom: 10px;
        position: 0;
}
.text-center {
        padding-top: 500px;
}
img.monke {
        padding-block: 0px;
}
.second {
        padding-top: 20px;
        padding-bottom: 20px;
}
.container {
        display: flex;
        justify-content: center;
        align-items: center;
}
.banana {
        height: 180px;
        width: 225px;
        padding-block: 100px;
}