body {
        background-image: url("Chimp.jpg");
      }
p {
        font-family: Arial;
        background-color: wheat;
        text-align: center;
}
.video {
        display: flex;
        justify-content: center;
        align-items: center;
}
.title {
        font-family: 'Stylish', sans-serif;
        text-align: center;
        background-color: lightgreen;
        color: yellow;
        font-size: 50px;
        padding-block: 30px;
        position: 0;
}
.heading {
        font-size: 25px;
        font-family: 'Stylish', sans-serif;
        text-align: center;
        background-color: lightgreen;
        color: yellow;
        font-size: 20px;
        padding-block: 30px;
        position: 0;
}
.text-center {
        padding-top: 500px;
}