.main-nav {
        font-size: 40px;
}
.nav-text {
        font-size: 20px;
}
.text-center {
        text-align: center;
      }
.audio-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
.header {
        font-family: 'Oswald', sans-serif;
        font-size:120px;
        text-align: center;
        margin: 5px;
}
.header:hover {
        background-color: lightgray;
      }
[href]:hover {
        background-color: lightgray;
}
#paypal:hover {
        background-color: lightgray;
}
.header-link {
        color:#000000; text-decoration:none
}
.blog-body {
        background-color: lightgray;
}
.blog-header {
        font-family: 'Oswald', sans-serif;
        font-size:40px;
        text-align: center;   
}
.text-header { 
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        text-align: left;
        padding-left: 15%;
        padding-right: 15%;
}
.blog-text {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        text-align: left;
        text-indent: 10%;
        padding-left: 15%;
        padding-right: 15%;
}
.list-text {
        text-indent: 10%;
}
.item-head {
        font-weight: bold;
}